* {

}

html {

}


body{
	background-image: url("../images/HD-Wallpapers-1280x1024-1.jpg");
}

.jumbotron{
	background: transparent;
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
}


.jumbotron .btn {
	background: rgba(0,0,0,0.3);
	background-repeat: no-repeat;
	background-position: center;
}

